@use '@angular/material' as mat;
@use './theme-colors' as theme;

$avocat-red-theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: theme.$primary-palette,
			tertiary: theme.$tertiary-palette,
		),
		typography: (
			brand-family: "'Playfair Display', Lato",
			plain-family: "'Playfair Display', Lato",
			bold-weight: 800,
			medium-weight: 500,
			regular-weight: 300,
		),
		density: (
			scale: maximum,
		),
	)
);

$avocat-blue-theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: theme.$blue-primary-palette,
			tertiary: theme.$tertiary-palette,
		),
		typography: (
			brand-family: "'Playfair Display', Lato",
			plain-family: "'Playfair Display', Lato",
			bold-weight: 800,
			medium-weight: 500,
			regular-weight: 300,
		),
		density: (
			scale: maximum,
		),
	)
);

$avocat-green-theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: theme.$green-primary-palette,
			tertiary: theme.$tertiary-palette,
		),
		typography: (
			brand-family: "'Playfair Display', Lato",
			plain-family: "'Playfair Display', Lato",
			bold-weight: 800,
			medium-weight: 500,
			regular-weight: 300,
		),
		density: (
			scale: maximum,
		),
	)
);

$avocat-yellow-theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: theme.$yellow-primary-palette,
			tertiary: theme.$tertiary-palette,
		),
		typography: (
			brand-family: "'Playfair Display', Lato",
			plain-family: "'Playfair Display', Lato",
			bold-weight: 800,
			medium-weight: 500,
			regular-weight: 300,
		),
		density: (
			scale: maximum,
		),
	)
);

$avocat-cyan-theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: theme.$cyan-primary-palette,
			tertiary: theme.$tertiary-palette,
		),
		typography: (
			brand-family: "'Playfair Display', Lato",
			plain-family: "'Playfair Display', Lato",
			bold-weight: 800,
			medium-weight: 500,
			regular-weight: 300,
		),
		density: (
			scale: maximum,
		),
	)
);

$avocat-magenta-theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: theme.$magenta-primary-palette,
			tertiary: theme.$tertiary-palette,
		),
		typography: (
			brand-family: "'Playfair Display', Lato",
			plain-family: "'Playfair Display', Lato",
			bold-weight: 800,
			medium-weight: 500,
			regular-weight: 300,
		),
		density: (
			scale: maximum,
		),
	)
);

$avocat-orange-theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: theme.$orange-primary-palette,
			tertiary: theme.$tertiary-palette,
		),
		typography: (
			brand-family: "'Playfair Display', Lato",
			plain-family: "'Playfair Display', Lato",
			bold-weight: 800,
			medium-weight: 500,
			regular-weight: 300,
		),
		density: (
			scale: maximum,
		),
	)
);

$avocat-chartreuse-theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: theme.$chartreuse-primary-palette,
			tertiary: theme.$tertiary-palette,
		),
		typography: (
			brand-family: "'Playfair Display', Lato",
			plain-family: "'Playfair Display', Lato",
			bold-weight: 800,
			medium-weight: 500,
			regular-weight: 300,
		),
		density: (
			scale: maximum,
		),
	)
);

$avocat-spring-green-theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: theme.$spring-green-primary-palette,
			tertiary: theme.$tertiary-palette,
		),
		typography: (
			brand-family: "'Playfair Display', Lato",
			plain-family: "'Playfair Display', Lato",
			bold-weight: 800,
			medium-weight: 500,
			regular-weight: 300,
		),
		density: (
			scale: maximum,
		),
	)
);

$avocat-azure-theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: theme.$azure-primary-palette,
			tertiary: theme.$tertiary-palette,
		),
		typography: (
			brand-family: "'Playfair Display', Lato",
			plain-family: "'Playfair Display', Lato",
			bold-weight: 800,
			medium-weight: 500,
			regular-weight: 300,
		),
		density: (
			scale: maximum,
		),
	)
);

$avocat-violet-theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: theme.$violet-primary-palette,
			tertiary: theme.$tertiary-palette,
		),
		typography: (
			brand-family: "'Playfair Display', Lato",
			plain-family: "'Playfair Display', Lato",
			bold-weight: 800,
			medium-weight: 500,
			regular-weight: 300,
		),
		density: (
			scale: maximum,
		),
	)
);

$avocat-rose-theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: theme.$rose-primary-palette,
			tertiary: theme.$tertiary-palette,
		),
		typography: (
			brand-family: "'Playfair Display', Lato",
			plain-family: "'Playfair Display', Lato",
			bold-weight: 800,
			medium-weight: 500,
			regular-weight: 300,
		),
		density: (
			scale: maximum,
		),
	)
);

$avocat-dark-theme: mat.define-theme(
	(
		color: (
			theme-type: dark,
			primary: theme.$primary-palette,
			tertiary: theme.$tertiary-palette,
		),
		typography: (
			brand-family: "'Playfair Display', serif",
			plain-family: "'Lato', sans-serif",
			bold-weight: 800,
			medium-weight: 500,
			regular-weight: 300,
		),
		density: (
			scale: maximum,
		),
	)
);
