<article class="blog-card" itemscope itemtype="https://schema.org/BlogPosting">
	<a [routerLink]="['/blog', article().slug]" itemprop="url">
		<mat-card class="blog-article-card">
			<mat-card-header>
				<mat-card-title itemprop="headline">{{ article().title }}</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p itemprop="description">{{ article().summary }}</p>
				@if (article().date) {
				<meta itemprop="datePublished" [content]="article().date" />
				}
			</mat-card-content>
			<div class="card-footer">
				@if (article().date) {
				<div class="card-date">
					<mat-icon>date_range</mat-icon>
					<span>{{ article().date | date: 'dd/MM/yyyy'}}</span>
				</div>
				} @if (readingTimeText()) {
				<div class="card-reading-time">
					<mat-icon>schedule</mat-icon>
					<span>{{ readingTimeText() }}</span>
				</div>
				}
				<div class="card-favorite">
					<button mat-icon-button aria-label="Enregistrer l'article" (click)="toggleFavorite($event)">
						<mat-icon
							[style]="isFavorite() ? 'scale: 1.3; transition: 0.3s;' : 'scale: 1; transition: 0.3s'"
							[class.favorited]="isFavorite()"
							>{{ isFavorite() ? 'star_shine' : 'star' }}</mat-icon
						>
					</button>
				</div>
			</div>
		</mat-card>
	</a>
</article>
