.app-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content-wrapper {
	flex: 1;
}

.app-toolbar {
	position: sticky;
	color: var(--mat-sys-on-primary);
	top: 0;
	z-index: 1000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: 1px;
	cursor: pointer;
}

nav a.active-link {
	// Exemple de style pour le lien actif
	text-decoration: underline;
	text-underline-offset: 6px;
}

.spacer {
	flex: 1 1 auto;
}

.theme-toggle {
	margin-right: 1rem;
	transition: transform 1s ease-in-out;
	vertical-align: middle !important;
	display: inline-flex !important;
	align-items: center !important;
	justify-content: center !important;
	&:hover {
		transform: rotate(180deg);
	}
}

.app-footer {
	color: var(--mat-sys-on-primary);
	padding: 1rem;
	text-align: center;
}

.scroll-top-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: box-shadow 0.5s;
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	z-index: 1000;
	width: 3rem;
	height: 3rem;
	padding: 2rem;
	border: none;
	border-radius: 100%;
	box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
	font-size: 1.5rem;
}

.scroll-top-btn:focus {
	outline: 2px solid #fff;
	outline-offset: 2px;
	box-shadow: 0 0 0 4px #005fcc;
}

@media (max-width: 800px) {
	.app-toolbar {
		flex-direction: column;
		height: auto;
		padding: 1rem 0;
	}
	.spacer {
		display: none;
	}
	nav {
		margin-top: 0.5rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.5rem;

		// Remove persistent effects on mobile
		a,
		button {
			-webkit-tap-highlight-color: transparent;

			&:active,
			&:focus {
				outline: none;
			}

			&:focus-visible {
				outline: 2px solid var(--mat-sys-primary);
				outline-offset: 2px;
			}
		}
	}

	.footer-links {
		display: flex !important;
		gap: 2rem;
		justify-content: center;
		margin-top: 1rem;
		flex-wrap: wrap;

		a {
			color: var(--mat-sys-primary);
			text-decoration: none;
			font-size: 0.875rem;
			transition: opacity 0.2s ease;
			padding: 1rem;
			&:hover {
				opacity: 0.8;
				text-decoration: underline;
			}

			&:focus-visible {
				outline: 2px solid var(--mat-sys-primary);
				outline-offset: 2px;
			}

			&.active {
				font-weight: bold;
			}
		}
	}
}

::view-transition-old(root) {
	animation: 200ms ease-out both fade-out;
}

::view-transition-new(root) {
	animation: 300ms ease-in 100ms both fade-in;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}
