.container {
	max-width: min(100%, 70ch);
	text-wrap: pretty;
	hyphens: auto;
}

h1 {
	font-size: 2.5rem;
	margin-top: 0px;
	color: var(--mat-button-filled-container-color);
}

h2 {
	font-size: 1.5rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	color: var(--mat-button-filled-container-color);
}

section {
	margin-bottom: 2rem;
	line-height: 1.75;
}

p {
	margin-bottom: 1rem;
	font-size: 1.1rem;
}

ul {
	margin-bottom: 1rem;
}

li {
	margin-bottom: 0.5rem;
}

a {
	color: var(--mat-sys-primary);
	text-decoration: underline;
	text-underline-offset: 3px;

	&:hover {
		text-decoration: underline;
	}
}
