<div class="container blog-page">
	<header class="page-header">
		<h1 class="mat-display-2">{{ 'blog.title' | translate }}</h1>
		<p class="mat-headline-5" animateText="fade">{{ 'blog.subtitle' | translate }}</p>
	</header>

	<section class="blog-list">
		<div class="blog-cards">
			@if (loading()) { @for (item of [1, 2, 3]; track item) {
			<div class="blog-card-skeleton">
				<div class="skeleton-image"></div>
				<div class="skeleton-title"></div>
				<div class="skeleton-text"></div>
				<div class="skeleton-text short"></div>
			</div>
			} } @else { @for (article of articles(); track article.slug) {
			<app-blog-article-card [article]="article" animateText="fade" />
			} }
		</div>
		@if (!articles().length && !loading()) {
		<p class="mat-body-1" animateText="fade">{{ 'blog.noArticles' | translate }}</p>
		}
	</section>
</div>
