<!-- Hero Section (Bannière) -->
<main>
	<header class="home-section container">
		<div class="home-content" animateText="fade">
			<h1 class="mat-display-3" i18n="Home page|Hero title">Votre avocate en droit des étrangers</h1>
			<p class="mat-headline-5" i18n="Home page|Hero subtitle">
				Accompagnement juridique pour vos démarches de séjour et de nationalité en France
			</p>
			<a
				routerLink="/contact"
				routerLinkActive="active-link"
				mat-flat-button
				color="neutral"
				class="cta-button"
				i18n="Home page|CTA button"
			>
				Demander une consultation
			</a>
		</div>
		<div class="hero-image-wrapper" animateText="fade">
			@if (!imageLoaded()) {
			<div class="image-skeleton"></div>
			}
			<picture>
				<source srcset="assets/pexels-ekaterina-bolovtsova-6077099.webp" type="image/webp" />
				<img
					class="hero-image"
					ngSrc="assets/pexels-ekaterina-bolovtsova-6077099.jpg"
					priority
					width="400"
					height="600"
					alt="Image représentant une balance de justice"
					i18n-alt="Home page|Hero image alt text"
					(load)="onImageLoad()"
					[class.loaded]="imageLoaded()"
				/>
			</picture>
		</div>
	</header>

	<!-- Section Prestations -->
	<section class="container">
		<h2 animateText="fade" class="mat-display-1 text-center mb-4" i18n="Home page|Services section title">
			Nos Domaines d'Intervention
		</h2>

		<div class="cards-grid">
			@for (service of services; track $index) {
			<mat-card
				class="prestation-card"
				appearance="outlined"
				[routerLink]="['/prestations']"
				[fragment]="service.anchor"
			>
				<mat-card-header animateText="fade">
					<div mat-card-avatar class="service-icon">
						<mat-icon>{{ service.icon }}</mat-icon>
					</div>
					<mat-card-title>{{ service.title }}</mat-card-title>
				</mat-card-header>
				<mat-card-content animateText="fade">
					<p>{{ service.description }}</p>
				</mat-card-content>
				<mat-card-actions align="end">
					<button mat-button i18n="Common|Learn more button">EN SAVOIR PLUS</button>
				</mat-card-actions>
			</mat-card>
			}
		</div>
	</section>
</main>
